body{
    margin: 0;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
}

a{
    text-decoration: none;
    color:black;

}
nav a{
    font-weight: 600;
    padding-right: 50px;
    font-size: 18px ;

}
nav a:hover{
    color:blue;

}
.logo
{
    display: flex;
    align-items: center;
    
}
 h1
{
    display: flex;
    align-items: center;
    font-size: 64px ;

}
.logo img {
    height: 50px;
    margin-right: 100px;
   width: 250px;
   height: 150px;

}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;

    }
}


img{
    width: 100px;
    height: auto;
}

label{
    display: block;
}

.descripcion{
    background-color: #BEF5FF;
    display: inline-block;
    width: 400px;
    padding: 10px;
    font-size: 26px;
    text-align: center;
}

h3{
    margin-bottom:0;
    font-size: 36px;
}

h4{
    font-size: 20px;
}







