
*{
  margin:0;
  padding: 0;
}

.formulario{
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 2rem auto;
}

.registro, .funcionalidad{
  flex: 1;
  min-width: 250px;
}

.eslogan{
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  width: 11rem;
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
}

.indicacion{
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.fila{
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.fila label, .fila input{
  min-width: 100px;
}

.fila label{
  font-size: 0.5rem;
  width: 5rem;
  margin-right: 1rem;
  height: 0.5rem;
  margin-top: 0.2rem;
}

.fila input:focus{
  outline: none;
}
.fila input{
  width: 10rem;
  height: 1rem;
  border-radius: 7px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25); 
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0.5rem;
  padding: 1px .5rem;
}

.btnRegistro button{
  background-color: #3E99C9;
  color: white;
  border-radius: 7px;
  padding: 5px 15px;
  font-size: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.25);
  margin-top: 1rem; 
}

.btnRegistro button:active {
  background-color: #3E99C9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}


/*Reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}


/*Encbezado*/
header{
    height: 100px;
    background:white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
   text-transform: uppercase;
   font-weight: 200;
   font-family: 'Roboto Condensed', sans-serif;
}
.menu a
{
    color: black;
    text-transform: uppercase;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.4s;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    background: #67A0BD;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;

}
.mostrar-menu{
    order:1px;
}
#check{
    display: none;
}
/*Banner*/
#banner{
 padding:0 50px;
 background-image:  url(../images/BOficial.PNG);
 height:60vh;
 background-size: cover;
 background-position: center;
}
.conteiner-banner{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    color: #275577;
    height: 100%;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.conteiner-banner h3{
 font-size: 4rem;
 font-weight: 400;
}
.conteiner-banner h2{
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}
/*bloques*/
#cuadrados{
    padding: 30px 100px ;
    display: flex;
    justify-content: center;
    text-align:center;
    position: relative;
    align-items: center;
    justify-content:space-between;
    
}
#cuadrados div h3{
    font-size: 15px;
    margin: 10px 0;
   font-family: 'Roboto Condensed', sans-serif;
}

#cuadrados div h2{
    font-size: 15px;
   font-family: 'Roboto Condensed', sans-serif;
  display: none;
  margin: 10px 0;
 
}
#cuadrados div  img.visible  {

  display: none;
  padding: 30px 100px ;
  justify-content: center;
  text-align:center;
  position: relative;
  align-items: center;
  justify-content:space-between;

}
#cell{
    position:absolute;
    top: 375px;
    right:200px;


}

/*Responsive */
@media (max-width:768px){
    /*Encbezado*/
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: skyblue;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.7s;

    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #check:checked ~ .menu{
        right: 0;
    }
    #cuadrados{
        flex-direction: column;
    }
    
}
@media (max-width:1524px) {
    #cell{
        display: none;
        transition: 1s;
    }
    #cuadrados div h2{

       display:block;
       transition: 1s;
    }
    #cuadrados div  img.visible {
        display: block;
        transition: 1s;
      }
}





  





